@using ZenExpressoCore
@model ZenExpresso.Models.TaskResultViewModel
<div class=" col-md-12" data-ng-Controller="ExecuteAdvancedTaskController as vm">
    <div class="card" data-ng-init="vm.init()">
        <div class="card-header pb-0">
            <h2>@Model.supportTask.description</h2>
        </div>
        <div class="card-body">
            <div data-ng-repeat="task in vm.taskFlowItems">
                <div ng-include="task.flowItemType"></div>
            </div>
        </div><!--/porlets-content-->
    </div><!--/block-web-->
</div><!--/col-md-12-->

@await Html.PartialAsync("~/Views/Shared/_AjsTableOutput.cshtml")