@using ZenExpressoCore
@model ZenExpresso.Models.TaskResultViewModel
<div class="col-md-12" data-ng-Controller="ExecuteAdvancedTaskController as vm">
    <div class="block-web" data-ng-init="vm.init()">
        <div class="header">
            <div class="actions">
                <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> <a class="close-down" href="#"><i class="fa fa-times"></i></a>
            </div>
            <h3 class="content-header">@Model.supportTask.description</h3>
        </div>
        <div class="porlets-content">
            <div data-ng-repeat="task in vm.taskFlowItems">
                <div ng-include="task.flowItemType" ></div>
            </div>
        </div><!--/porlets-content-->
    </div><!--/block-web-->
</div><!--/col-md-12-->

@await Html.PartialAsync("~/Views/Shared/_AjsTableOutput.cshtml")''