<div class="modal fade  " id="fileUploadClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document" data-ng-controller="FileUploadClientWidgetController as vm">
        <div class="modal-content">
            <div class="modal-header row pb-0">
                <div class="col-10 ">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="modal-title" id="myModalLabel">Client File Upload </h5>
                        </div>
                        <div class="col-4">
                            <form>
                                <div class="input-group mb-2 mr-sm-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Control ID</div>
                                    </div>
                                    <input type="text" value="" placeholder="Control ID" class="form-control" data-ng-model="vm.model.controlIdentifier" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="card p-relative o-hidden mb-0">
                    <div class="card-header card-header-tabs-basic nav px-0" role="tablist">
                        <a href="#fileUploadOptions" class="active" data-toggle="tab" role="tab">File Upload Options </a>
                        <a href="#fileUploadDesigns" data-toggle="tab" role="tab">Form Control Designs </a>
                    </div>
                    <div class="card-body tab-content text-70">
                        <div id="fileUploadOptions" class="tab-pane active">
                            <form autocomplete="off">
                                <div class="form-group row">
                                     <label class="col-4 col-form-label form-label" >
                                                Field Label
                                    </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control mb-2" placeholder="Field Label" data-ng-model="vm.model.fieldLabel">
                                    </div>
                                </div>
                                <div class="form-group row">
                                     <label class="col-4 col-form-label form-label" >
                                             Field Name <small class="text-50">Variable name to be used on server</small>
                                    </label>
                                    <div class="col-8">
                                        <input type="text" class="form-control mb-2" placeholder="FieldName" data-ng-model="vm.model.fieldName">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-4" >
                                    </label>
                                    <div class="col-8">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="cardDesignOption" id="allowMulitple" data-ng-model="vm.model.allowMultiple"  >
                                            <label class="form-check-label h5" for="allowMulitple">
                                                Allow Multiple Files
                                            </label> 
                                        </div>
                                    </div>
                                    
                                </div>

                               

                                <div class="form-group row">
                                     <label class="col-4 col-form-label form-label" >
                                             Allowed File Extensions
                                    </label>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <select id="select03" data-ng-model="vm.model.fileTypes" data-ng-hide="vm.model.customFileType"
                                                    data-toggle="select"
                                                    multiple required=""
                                                    class="form-control">
                                                <option value="*.*">All files extension</option>
                                                <option value="jpg-jpeg">Jpeg: .jpg, .jpeg</option>
                                                <option value="png">Png : .png</option>
                                                <option value="gif">Gif: .gif</option>
                                                <option value="doc-docx">Word Document </option>
                                                <option value="pdf">Pdf Document </option>
                                                <option value="xls-xlsx">Excel : .xls, .xlsx </option>
                                                <option value="ppt-pptx">Power Point </option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control mb-2" placeholder="Separate mulitple with comma " data-ng-model="vm.model.fileTypes" data-ng-show="vm.model.customFileType">
                                    </div>
                                    <div class="col-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="cardDesignOption" id="customExtension" data-ng-model="vm.model.customFileType"  >
                                            <label class="form-check-label h5" for="customExtension">
                                               Custom File Extension
                                            </label> 
                                        </div> 
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                        <div id="fileUploadDesigns" class="tab-pane ">
                            <h5>Select View Option</h5>
                            <form>
                               

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="cardDesignOption" id="fileUploadDesignOption2" data-ng-model="vm.model.viewOption" value="dropView" >
                                            <label class="form-check-label h5" for="fileUploadDesignOption2">
                                                Drop Area View
                                            </label>

                                            <div class="dropzone dropzone-multiple w-100 mb-24pt dz-clickable" data-toggle="dropzone" data-dropzone-multiple="" data-dropzone-url="http://" data-dropzone-files="">
                                                <ul class="dz-preview dz-preview-multiple list-group list-group-flush mt-16pt">
                                                </ul>
                                                <div class="dz-default dz-message"><button class="dz-button" type="button">Drop files here to upload</button>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="cardDesignOption" id="fileUploadDesignOption1" data-ng-model="vm.model.viewOption" value="formControlView" >
                                            <label class="form-check-label h5" for="fileUploadDesignOption1">
                                                Form Control View
                                            </label>
                                            <div class="col-md-12 col-xl-12 form-group row">
                                                <label class="col-sm-3 form-label col-form-label text-50"> Field Label</label>
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-group m-0">
                                                        <div class="custom-file">
                                                            <input type="file" id="file" class="custom-file-input">
                                                            <label for="file" class="custom-file-label">Choose file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </form>


                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-ng-click="vm.saveData()">Save</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>