<div class="modal fade  " id="mergetTablesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Success Message Output Design</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal group-border-dashed">
                    <button class="btn btn-sm btn-primary" data-ng-click="vm.addFormControl()">Add Control</button>
                    <p> 
                       <div class="row">
                            <div class="col-sm-11 col-sm-offset-1">
                                <div class="form-group" >
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label>Searchable </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="radio" class="form-control parsley-validated" required="" placeholder="Field Name" data-ng-model="item.fieldName">
                                        </div> 
                                    </div>
                                    <br/> 
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label>Export Buttons </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="radio" class="form-control parsley-validated" required="" placeholder="Field Name" data-ng-model="item.fieldName">
                                        </div>
                                    </div> 
                                    <hr class="col-sm-9" style="border-bottom: 1px solid #8b0000"/>
                                </div>
                            </div>
                        </div>
                    </p> 
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-ng-click="vm.saveFormInputControls()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

