<div class="modal fade  " id="restApiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document" data-ng-controller="RestApiWidgetController as vm">
        <div class="modal-content">
            <div class="modal-header row pb-0">
                <div class="col-10 ">
                    <div class="row">
                        <div class="col-8"> <h5 class="modal-title" id="myModalLabel">Call a Rest Api</h5></div>
                        <div class="col-4">
                            <form>
                                <div class="input-group mb-2 mr-sm-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Control ID</div>
                                    </div>
                                    <input type="text" value="" placeholder="Control ID" class="form-control" data-ng-model="vm.model.controlIdentifier" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
            <div class="modal-body" style="padding-bottom: 5px">

                <div class="card p-relative o-hidden mb-0">
                    <div class="card-header card-header-tabs-basic nav px-0" role="tablist">
                        <a href="#restbody" class="active" data-toggle="tab" role="tab">Request Body</a>
                        <a href="#restheader" data-toggle="tab" role="tab" class="">Request Headers</a>
                    </div>
                    <div class="card-body tab-content text-70">
                        <div id="restbody" class="tab-pane active">

                            <form>
                                <div class="form-group row">

                                    <label class="col-sm-3 col-form-label">Rest Url</label>

                                    <div class="col-sm-9">
                                        <input type="text" class="form-control parsley-validated" placeholder="Rest Url" data-ng-model="vm.model.resturl">
                                    </div>
                                </div>

                                <hr style="border-bottom: 1px solid #8b0000" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class=" col-sm-3 col-form-label">Method</label>
                                            <div class="col-sm-7">
                                                <select class="form-control" data-ng-model="vm.model.method">
                                                    <option value="">..Method..</option>
                                                    <option value="GET">GET</option>
                                                    <option value="POST">POST</option>
                                                    <option value="PUT">PUT</option>
                                                    <option value="PATCH">PATCH</option>
                                                    <option value="DELETE">DELETE</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-form-label">Content Type</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" data-ng-model="vm.model.contentType">
                                                    <option value="">..Content Type..</option>
                                                    <option value="application/json">application/json</option>
                                                    <option value="application/javascript">application/javascript</option>
                                                    <option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
                                                    <option value="application/xml">application/xml</option>
                                                    <option value="text/plain">text/plain</option>
                                                    <option value="text/xml">text/xml</option>
                                                    <option value="text/html">text/html</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div data-ng-show="vm.model.method!=='GET'">
                                    <h5>Request Body</h5>
                                    <textarea cols="10" rows="10" class="form-control" data-ng-model="vm.model.body"></textarea>
                                </div>
                                <br />
                                <div class="row" data-ng-show="vm.formControls.length">
                                    <div class="col-md-12">


                                        <h5>Available Input FieldNames</h5>
                                        <table class="table ">

                                            <thead>
                                                <tr>
                                                    <th>Parameter Label</th>
                                                    <th>Parameter Name</th>
                                                    <th>Parameter Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="item in vm.formControls">
                                                    <td><span data-ng-bind="item.fieldLabel"></span></td>
                                                    <td><span class="font-weight-bold text-danger" data-ng-bind="item.fieldName"></span></td>
                                                    <td><span data-ng-bind="item.fieldType"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="restheader" class="tab-pane fade">
                            <form >
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Basic Authentication</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control parsley-validated" placeholder="User Name" data-ng-model="vm.model.basicAuth.username">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control parsley-validated" placeholder="Password" data-ng-model="vm.model.basicAuth.password">
                                    </div>
                                </div>
                                <hr style="border-bottom: 1px solid #8b0000" />
                                <div class="form-group row">
                                    <label></label>
                                    <div class="col-sm-3">
                                        <input type="button" class="btn btn-primary btn-sm" data-ng-click="vm.addHeader()" value="Add Custom Header">
                                    </div>
                                </div>
                                <div class="form-group row" data-ng-repeat="item in vm.model.headers">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control parsley-validated" placeholder="Header Key" data-ng-model="item.headerKey">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control parsley-validated" placeholder="Header Value" data-ng-model="item.headerValue">
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="button" class="btn btn-danger btn-sm" value="Delete" data-ng-click="vm.removeHeader($index)">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div> 

                 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-ng-click="vm.saveData()">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>