               @model int
                <div class="client-widgets">
                    <h5 class="">Client Widgets</h5>
                    <ul class="list-group card-title">
                        <li class="list-group-item ">
                            <button class="badge btn badge-primary clientInput" data-toggle="modal" data-target="#inputFormModal" data-ng-click="vm.onModalOpen('inputFormModal',@Model)">
                            <i class="fa fa-plus"></i>
                        </button> Form Input
                        </li>
                        <li class="list-group-item ">
                            <button class="badge btn badge-primary clientInput" data-toggle="modal" data-target="#linkButtonModal" data-ng-click="vm.onModalOpen('linkButtonModal',@Model)">
                            <i class="fa fa-plus"></i>
                        </button> Buttons
                        </li>
                        <li class="list-group-item">
                            <button class="badge badge-primary btn " data-toggle="modal" data-target="#fileUploadClientModal" data-ng-click="vm.onModalOpen('fileUploadClientModal',@Model)">
                            <i class="fa fa-plus"></i>
                        </button> File Upload
                        </li>
                        <li class="list-group-item">
                            <button class="badge badge-primary btn " data-toggle="modal" data-target="#fileDownloadModal" data-ng-click="vm.onModalOpen('fileDownloadModal')">
                            <i class="fa fa-plus"></i>
                        </button> File Download
                        </li>
                        <li class="list-group-item">
                            <button class="badge badge-primary btn clientInput" data-toggle="modal" data-target="#validationFormatingModal" data-ng-click="vm.onModalOpen('validationFormatingModal',@Model)">
                            <i class="fa fa-plus"></i>
                        </button> Js Script
                        </li>
                        <li class="list-group-item">
                            <button class="badge badge-primary btn " data-toggle="modal" data-target="#tabularOutputModal" data-ng-click="vm.onModalOpen('tabularOutputModal',@Model)">
                                <i class="fa fa-plus"></i>
                            </button> Tabular output
                        </li>
                         
                        <li class="list-group-item">
                            <button class="badge badge-primary btn " data-toggle="modal" data-target="#cardOutputModal" data-ng-click="vm.onModalOpen('cardOutputModal',@Model)">
                            <i class="fa fa-plus"></i>
                        </button> Card output
                        </li>
                        <li class="list-group-item">
                            <button class="badge badge-primary btn clientResult" data-toggle="modal" data-target="#successMessageOutputModal" data-ng-click="vm.onModalOpen('successMessageOutputModal',@Model)">
                            <i class="fa fa-plus"></i>
                        </button> Success Message Result
                        </li>
                    </ul>
                </div>
                <div class="server-widgets">
                    <h5>Server Widgets</h5>
                    <ul class="list-group card-title">
                        <li class="list-group-item">
                            <button class="badge badge-success btn" data-toggle="modal" data-target="#sqlModal" data-ng-click="vm.onModalOpen('sqlModal',@Model)">
                            <i class="fa fa-plus"></i>
                        </button> Sql Query
                        </li>
                        <li class="list-group-item ">
                            <button class="badge badge-success btn" data-toggle="modal" data-target="#restApiModal" data-ng-click="vm.onModalOpen('restApiModal')">
                            <i class="fa fa-plus"></i>
                        </button> Rest Request
                        </li>
                        <li class="list-group-item">
                            <button class="badge badge-success btn " data-toggle="modal" data-target="#fileUploadServerModal" data-ng-click="vm.onModalOpen('fileUploadServerModal',@Model)">
                            <i class="fa fa-plus"></i>
                        </button> File Upload Handler
                        </li>
                        <li class="list-group-item">
                            <button class="badge badge-success btn " data-toggle="modal" data-target="#pdfFormInputModal" data-ng-click="vm.onModalOpen('pdfFormInputModal',@Model)">
                            <i class="fa fa-plus"></i>
                        </button> Pdf Form Input
                        </li>
                        <li class="list-group-item ">
                            <button class="badge badge-success btn" data-toggle="modal" data-target="#dataTransformModal">
                            <i class="fa fa-plus"></i>
                        </button> Data Transformation(using Js)
                        </li>
                        <li class="list-group-item ">
                            <button class="badge badge-success btn" data-toggle="modal" data-target="#mergetTablesModal">
                            <i class="fa fa-plus"></i>
                        </button> Merge tables with lookup
                        </li>
                        <li class="list-group-item ">
                            <button class="badge badge-success btn" data-toggle="modal" data-target="#exportDataModal">
                            <i class="fa fa-plus"></i>
                        </button> Export Data
                        </li>
                        <li class="list-group-item">
                            <button class="badge badge-success btn " data-toggle="modal" data-target="#serverSideJavascriptModal">
                            <i class="fa fa-plus"></i>
                        </button> Sever Side Script
                        </li>
                        <li class="list-group-item ">
                            <button class="badge badge-success btn" data-toggle="modal" data-target="#looperModal">
                            <i class="fa fa-plus"></i>
                        </button> Looper
                        </li>
                    </ul>
                </div>