@model ZenExpressoCore.Models.SupportTask
@{
    ViewBag.Title = "Create Advanced Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/atom-one-dark.css">
<script src="~/scripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<div class="row" ng-app="app">
    <div class="col-md-12" data-ng-Controller="CreateAdvancedTaskController as vm">
        @await Html.PartialAsync("_AdvancedSuppotTaskForm")

        @await Html.PartialAsync("_FormInputWidget")
        @await Html.PartialAsync("_FileUploadClientWidget")
        @await Html.PartialAsync("_FileUploadServerWidget")
        @await Html.PartialAsync("_FileDownloadWidget")
        @await Html.PartialAsync("_LinkButtonWidget")
        @await Html.PartialAsync("_PdfFormInputWidget")
        @await Html.PartialAsync("_FormatValidationWidget")
        @await Html.PartialAsync("_OuptutTransformWidget")
        @await Html.PartialAsync("_TabularOutputWidget")
        @await Html.PartialAsync("_CardOutputWidget")
        @await Html.PartialAsync("_SuccessMessageOutputWidget")

        

        @* Server Widgets *@
        @await Html.PartialAsync("_SqlScriptWidget", Model.GetDataSources())
        @await Html.PartialAsync("_RestApiWidget")
        @await Html.PartialAsync("_ExcelCsvProcessorWidget")
        @await Html.PartialAsync("_DataTransformationWidget")
        @await Html.PartialAsync("_MergeTablesWidget")
        @await Html.PartialAsync("_ExportDataWidget")
        @await Html.PartialAsync("_SeverSideJavascriptWidget")
        @await Html.PartialAsync("_LooperWidget")

    </div><!--/col-md-12-->

</div>


