@{
    ViewBag.Title = "Setup Admins";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row" ng-app="app">
    <div class="card col-md-12" data-ng-Controller="AdminSetupController as vm" data-ng-init="vm.init()">
        <div class="card-header pb-0">
            <h3>@ViewBag.Title </h3>
        </div>
        <div class="card-body">
            <form name="addAdminForm" method="POST" class="form-horizontal group-border-dashed" parsley-validate="" novalidate="" data-ng-submit="vm.addAdmin(addAdminForm.$valid)">
                <div class="form-group row">
                    <div class="col-sm-4" data-ng-class="{'has-error': addAdminForm.userName.$invalid }">
                        <input type="text" data-ng-model="vm.model.userName" name="userName" class="form-control is-invalid" required="" placeholder="User Name">
                    </div>
                    <div class="col-sm-4" data-ng-class="{'has-error': addAdminForm.fullName.$invalid }">
                        <input type="text" data-ng-model="vm.model.fullName" name="fullName" class="form-control is-invalid" required="" placeholder="Full Name">
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-success ">Add</button>
                    </div>
                </div>
                 
                 
                    <div class="form-group row">
                        <label class="col-sm-2"></label>

                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="h4 ">List of Admins </label>
                                <table class=" table">
                                    <thead>
                                        <tr>
                                            <th>User Name</th>
                                            <th class="col-md-5 col-sm-5">Full Name</th>
                                            <th class="col-sm-1"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="item in vm.list">
                                            <td data-ng-bind="item.userName"></td>
                                            <td data-ng-bind="item.fullName"></td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-danger action-view" data-ng-click="vm.deleteAdmin(item)"><i class="fa fa-trash"></i>Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                 
                <!--/form-group-->
            </form>

        </div><!--/porlets-content-->
        <!--/block-web-->
    </div><!--/col-md-12-->
</div>
