@model dynamic

@{
    ViewBag.Title = "Reload Memory";
   
}

@if (ViewBag.Loaded == null)
{
    <section class="panel default blue_title h2">
        <div class="panel-heading"><span class="semi-bold">Reload Memory</span> </div>
        <div class="panel-body">

            <div class="bs-example">

                @using (Html.BeginForm("ReloadMemory", "Setup", method: FormMethod.Post))
                {

                    <div class="alert alert-warning fade in">
                        Are you sure you want to Reload Memory Data
                        <p>
                            <button type="submit" class="btn btn-info">Reload</button>
                        </p>
                    </div>
                }

            </div>

        </div>
    </section>
}
else if ((bool)ViewBag.Loaded)
{
    <section class="panel default blue_title h2">
        <div class="panel-heading">Delete <span class="semi-bold"> Successful</span> </div>
        <div class="panel-body">

            <div class="alert alert-success">
                Reload Successful
            </div>
            <a href="@Url.Action("ListTasks","SupportTask")" class="btn btn-primary btn-lg">Back to Tasks</a>
        </div>
    </section>
}
else
{
    <div class="alert alert-danger"> <strong>Oh snap!</strong> <a class="alert-link" href="#">An error occured</a> and try submitting again. </div>
}
