
<script type="text/ng-template" id="dynamicForm.html">
    <div data-ng-Controller="DynamicFormViewController as vm">
        <div data-ng-init="vm.init(task)"></div>
        <div data-ng-if="vm.taskInfo.description!=='' || vm.taskInfo.description=='0'">
            <div class="page-separator">
                <div class="page-separator__text">
                    <h4 class="title" data-ng-bind="vm.taskInfo.description"></h4>
                </div>
            </div>
        </div>
        <form name="executeTaskForm" class="align-content-center" parsley-validate="" novalidate="" data-ng-submit="vm.executeSupportTask(executeTaskForm.$valid)">
            <div data-ng-repeat="control in vm.formControls">
                <div data-ng-if="control.fieldType=='separator'" class="form-group row">
                    <div class="col-sm-9 page-separator">
                        <div class="page-separator__text">
                            <h4 class="title">{{control.fieldLabel}}</h4>
                        </div>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='number'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <input type="number" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control " data-ng-required="control.required" data-ng-class="{'is-invalid': vm.formSubmitted && !control.valid ,'is-valid': control.valid }">
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='text'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}} </label>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control " data-ng-required="control.required" data-ng-class="{'is-invalid': vm.formSubmitted && !control.valid ,'is-valid': vm.formSubmitted && control.valid }">
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='readonly'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}} </label>
                    <div class="col-sm-6">
                        <span class="font-weight-bolder h5" data-ng-bind="control.fieldValue">kjjkj</span>
                     </div>
                </div>
                <div data-ng-if="control.fieldType=='imageview'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}} </label>
                    <div class="col-sm-6">
                        <img ng-src="{{control.fieldValue}}" class="rounded" alt="{{control.fieldValue}}" style="max-width:300px;height:auto;">
                     </div>
                </div>
                <div data-ng-if="control.fieldType=='date'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label ">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control flatpickr-input active " jquerydatepicker data-ng-required="control.required" data-ng-class="{'is-invalid': vm.formSubmitted && !control.valid ,'is-valid': vm.formSubmitted && control.valid }">
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='select'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <select class="form-control select2 {{control.fieldName}}" data-ng-model="control.fieldValue" data-ng-options="item.value as item.label for item in control.dataSource" name="{{control.fieldName}}" data-ng-class="{'is-invalid': vm.formSubmitted && !control.valid,'is-valid': vm.formSubmitted && control.valid }">
                            <option value="">[Select One]</option>
                        </select>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='radio'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <div class="form-check form-check-inline" data-ng-repeat="item in control.dataSource">
                            <input class="form-check-input" type="radio" name="{{control.fieldName}}" value="{{item.value}}">
                            <label class="form-check-label" for="{{control.fieldName}}-{{item.value}}">{{control.fieldLabel}}</label>
                        </div>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='textarea'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <textarea type="text" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control " data-ng-required="control.required" data-ng-class="{'is-invalid': vm.formSubmitted && !control.valid  }"></textarea>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='checkbox'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label"></label>
                    <div class="col-sm-6 col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input name="{{control.fieldName}}" id="{{control.fieldName}}" type="checkbox" checked="" class="custom-control-input">
                            <label for="{{control.fieldName}}" class="custom-control-label form-label"> {{control.fieldLabel}} </label>
                        </div>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='fileupload'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label" for="{{control.fieldName}}"> {{control.fieldLabel}} </label>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group m-0">
                            <div class="custom-file">
                                <input type="file" id="file" class="custom-file-input">
                                <label for="file" class="custom-file-label">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='multiselect'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <select class="form-control select2 {{control.fieldName}}" data-ng-model="control.fieldValue" name="{{control.fieldName}}" multiple="multiple" size="7" data-ng-class="{'is-invalid': vm.formSubmitted && executeTaskForm[control.fieldName].$invalid,'is-valid': vm.formSubmitted && executeTaskForm[control.fieldName].$valid }">
                            <option  data-ng-repeat="item in control.dataSource" value="{{item.value}}">{{item.label}}</option>
                        </select>
                    </div>
                </div>

                <div data-ng-if="control.fieldType=='hidden'">
                    <input type="hidden" name="{{control.fieldName}}" data-ng-model="control.fieldValue">
                </div>

                <div data-ng-if="control.fieldType=='richtext'" class="form-group row" data-ng-class="{'is-invalid': vm.formSubmitted && executeTaskForm[control.fieldName].$invalid }">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                </div>
            </div>
            <div class="form-group row" data-ng-hide="vm.readOnlyFieldsOnly">
                <div class="col-sm-9 ">
                    <button type="submit" class="btn  btn-success float-right">Submit</button>
                </div>
            </div>
            <!--/form-group-->
        </form>
    </div>
</script>
