<!DOCTYPE html>
<html lang="en"
      dir="ltr">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Install Setup </title>
        <partial name="_HeadLinks"/>
</head>
<body class="layout-app ui ">
  
        <div class="mdk-header-layout js-mdk-header-layout">
            <div class="mdk-header-layout__content page-content ">

                 @RenderBody()

            </div>
        </div> 
    </body>

</html>