@model List<ZenExpressoCore.Models.ExecutedTasks>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home ";
}
<div>
 @if (Model.Any())
 {
     <div class="row">
         <div class="col-md-12">
             <div class="block-web">
                 <div class="header">
                     <div class="actions">
                     </div>
                     <h3 class="content-header"> Recent Tasks</h3>
                 </div>
                 <div class="porlets-content">

                         @for (int k = 0; k <= Model.Count; k += 3)
                         {

                             <div class="row card-group-row mb-lg-8pt">

                                     @for (int i = k; i < k + 3; i++)
                                     {
                                         var index = k + i;
                                         if (index < Model.Count)
                                         {
                                             var item = Model[index];
                                              
                                             <div class="col-4 ">
                                                 <div class="card posts-card border-1 border-left-3 border-left-success">
                                                     <div class="posts-card__content d-flex align-items-center flex-wrap">
                                                         <div class="avatar avatar-lg mr-3">
                                                             <a href=""><img src="~/assets/images/icon-recent.png" alt="avatar" class="avatar-img rounded"></a>
                                                         </div>
                                                         <div class="posts-card__title flex d-flex flex-column">
                                                             <a href="@Url.Action("ExecuteTask", "SupportTask", new {id = item.taskId})" class="card-title">@item.taskDescription</a>
                                                             <small class="text-50">@item.dateExecuted.ToString("dd MMM HH:mm")</small>
                                                         </div>
                                                         <br />
                                                         <small class="badge badge-pill badge-info">@item.topMenu</small>
                                                     </div>
                                                 </div>
                                             </div>
                                         }
                                     }
                             </div>
                             <div class="row"></div>
                             <p></p>
                         }

                     </div><!--/porlets-content-->
                 </div><!--/block-web-->
         </div><!--/col-md-12-->
     </div>

 }
 else
 {
     <div class="">
         <div class="row">
             <div class="col-md-6 h4">
                 Welcome !!
             </div>
         </div>
         <div class="row">
             <div class="col-md-6">
                 <div class="col-md-5">
                     <img src="~/assets/images/zenExpresso.gif" width="200">
                 </div>

             </div>
         </div>
          

     </div>
 }






</div>

