@model ZenExpresso.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
}

 
<div class="card col-md-12">
     <div class="card-header pb-0">
               <h4>@ViewBag.Title</h4>
    </div>
    
    <dl class=" card-body dl-horizontal">
        
        <dd>
            <a href="@Url.Action("ChangePassword", "Manage")" class="btn btn-primary"> <i class="material-icons ">lock</i> <span>Change Password </span> </a>
 
        </dd>

      
    </dl>
</div>
