@model dynamic

@{
    ViewBag.Title = "Error";

}


<div style="padding:20px; color:red">
    <h3 class="text-danger">
        Sorry, an error occurred while processing your request.
    </h3>
    
    <br/>
    <br />
    @if (ViewBag.Description != null)
    {
        <div>@ViewBag.Description</div>
    }
    <h6>@Html.ActionLink("Go Back Home ", "Index", "Home")</h6>
  
    <br />
</div>
