@model dynamic

@{
    ViewBag.Title = "Error Not Found";
  
}

<div style=" padding:20px; color:red">
    <h3>
       There was an error
    </h3>
    <h4>
        Sorry, The Page, You are Looking for was not found.
    </h4>
    <h6>@Html.ActionLink("Go Back Home", "Index", "Home")</h6> 
    <br />
    <br />
</div>
