@model ZenExpressoCore.Models.LogManagement

@{
    ViewBag.Title = "Delete Log App";
  
}

@if (ViewBag.Deleted == null)
{
    <section class="panel default blue_title h2">
        <div class="panel-heading">Delete <span class="semi-bold">@Model.appname</span> </div>
        <div class="panel-body">

            <div class="bs-example">

                @using (Html.BeginForm("DeleteApp", "DbLogManager", method: FormMethod.Post))
                {
                    @Html.HiddenFor(f => f.id)
                    <div class="alert alert-warning fade in">
                        Are you sure you want to delete log management for <strong> @Model.appname!</strong>
                        <p>
                            <button type="submit" class="btn btn-danger">Confirm Delete</button>
                        </p>
                    </div>
                }

            </div>

        </div>
    </section>
}
else if ((bool) ViewBag.Deleted)
{
    <section class="panel default blue_title h2">
        <div class="panel-heading">Delete <span class="semi-bold"> Successful</span> </div>
        <div class="panel-body">

            <div class="alert alert-success">
                Data successfully Deleted
            </div>
            @Html.ActionLink("Back to list","ListApps","DbLogManager",new {@class = "btn btn-primary btn-lg"})
        </div>
    </section>
}
else
{
    <div class="alert alert-danger"> <strong>Oh snap!</strong> <a class="alert-link" href="#">An error occured</a> and try submitting again. </div>
}
