@{
    ViewBag.Title = "Add Database Log App";
}

<div class="row" ng-app="app">
    <div class="col-md-12" data-ng-Controller="DbLogController as vm">
        <div class="block-web">
            <div class="header">
                <div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> <a class="close-down" href="#"><i class="fa fa-times"></i></a>
                </div>
                <h3 class="content-header">Add an Application Log to Manage</h3>
            </div>
            <div class="porlets-content">
                <form name="addLogForm" class="form-horizontal group-border-dashed" parsley-validate="" novalidate="" data-ng-submit="vm.submitLogToManage(addLogForm.$valid)">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Application Name</label>
                        <div class="col-sm-6">
                            <input type="text" data-ng-model="vm.model.appname" name="appname" class="form-control parsley-validated" required="">
                        </div>
                    </div><!--/form-group-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Database Credentials</label>
                        <div class="col-sm-2">
                            <input type="text" data-ng-model="vm.model.dbusername" name="dbusername" class="form-control parsley-validated" required="" placeholder="Username">
                        </div>
                        <div class="col-sm-2">
                            <input type="password" data-ng-model="vm.model.dbpass" name="dbpass" class="form-control parsley-validated" required="" parsley-equalto="#pass2" placeholder="Password">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-sm btn-primary btn-block" data-ng-click="vm.listDatabases()">Connect</button>
                        </div>
                    </div><!--/form-group-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Db Name</label>
                        <div class="col-sm-6">
                            <select class="form-control" data-ng-model="vm.model.dbname" required="" data-ng-options="item for item in vm.databases"  data-ng-change="vm.listTables()">
                            </select>
                        </div>
                    </div><!--/form-group-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Table Name</label>
                        <div class="col-sm-6">
                            <select class="form-control" data-ng-model="vm.model.tablename" required="" data-ng-options="item for item in vm.tables"  data-ng-change="vm.listTableColumns()"></select>
                        </div>
                    </div><!--/form-group-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Search Fields</label>
                        <div class="col-sm-6">
                            <div class="radio" data-ng-repeat="field in vm.columns">
                                <label>
                                    <input type="checkbox" value="{{field}}" name="searchFields[]"   ng-click="vm.toggleSelection(field)">
                                    <span class="custom-checkbox"></span>{{field}}
                                </label>
                            </div><!--/form-group-->
                        </div>
                    </div><!--/form-group-->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Log Date Field</label>
                        <div class="col-sm-6">
                            <select class="form-control" data-ng-model="vm.model.dateField" required="" data-ng-options="item for item in vm.columns">
                            </select>
                        </div>
                    </div><!--/form-group-->
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div><!--/form-group-->
                </form>
            </div><!--/porlets-content-->
        </div><!--/block-web-->
    </div><!--/col-md-12-->
</div>

 