@model ZenExpressoCore.Models.LogManagement
@{
    ViewBag.Title = "Search Logs";
}

<div ng-app="app">

    <div class="row" data-ng-controller="SearchLogController as vm" data-ng-init="vm.init()">
        <input type="hidden" value="@Model.id" id="___LogId" />
        <div class="col-lg-12">
            <section class="panel default blue_title h2">
                <div class="panel-heading">
                    Search <span class="semi-bold">@Model.appname</span> Logs
                </div>
                <div class="panel-body">
                    <form action="" class="form-horizontal row-border">
                        <div class="form-group has-success lable-padd">
                            <label for="" class="col-md-3">Select search mode</label>
                            <div class="col-md-7">
                                <label class="col-md-5">
                                    <input type="radio" value="bydate" name="searchMode" data-ng-model="vm.model.searchMode" />
                                    Search By Date
                                </label>
                                <label class="col-md-5">
                                    <input type="radio" value="byword" name="searchMode" data-ng-model="vm.model.searchMode" />
                                    Search by Word
                                </label>
                            </div>
                        </div>
                        <!--/form-group-->
                        <div class="form-group " data-ng-show="vm.model.searchMode=='bydate'">
                            <label class="col-md-3">Search Range</label>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <input type="text" class="form-control mdatepicker" placeholder="From Date" data-ng-model="vm.model.fromDate">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control mdatepicker" placeholder="To Date" data-ng-model="vm.model.toDate">
                                </div>
                            </div>
                        </div>
                        <!--/form-group-->
                        <div class="form-group" data-ng-show="vm.model.searchMode=='byword'">
                            <label for="" class="col-md-3">Search Text</label>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Enter search text" data-ng-model="vm.model.searchText">
                                </div>
                            </div>
                        </div><!--/form-group-->
                        <div class="form-group" d>
                            <label for="" class="col-md-3"></label>
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <input type="button" class="btn btn-success btn-md" value="Submit" data-ng-click="vm.searchLogs()">
                                </div>
                            </div>
                        </div><!--/form-group-->
                    </form>
                </div>
                <div></div>



                
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default" style="overflow-x:scroll">
                            <div class="panel-body">
                                <h2 class="text-center">Search Results</h2>
                                <hr />
                                <table id="example" class="display table table-condensed" width="100%"></table>
                            </div>
                           
                        </div>
                        
                    </div>

                </div>




            </section>
        </div>






    </div>

</div>
