@model List<ZenExpressoCore.Models.DataSource>
    <div class="modal fade  " id="sqlModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog modal-lg" role="document" data-ng-controller="SqlQueryWidgetController as vm">
            <div class="modal-content">
                <div class="modal-header row  pb-0">
                    <div class="col-10 ">
                        <div class="row">
                            <div class="col-8"> <h5 class="modal-title" id="myModalLabel">Sql Script</h5></div>
                            <div class="col-4">
                                <form>
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Control ID</div>
                                        </div>
                                        <input type="text" value="" placeholder="Control ID" class="form-control" data-ng-model="vm.model.controlIdentifier" />
                                    </div>
                                </form> 
                            </div> 
                        </div> 
                    </div>
                    <div class="col-2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> 
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-8"> 
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="skipSqlTaskFlowItemExecution"  data-ng-model="vm.model.skipExecution">
                                <label class="form-check-label form-label" for="skipSqlTaskFlowItemExecution">
                                    Skip Execution 
                                </label> 
                            </div> 
                        </div>
                    </div>
                    <div class="card p-relative o-hidden mb-0">
                        <div class="card-header card-header-tabs-basic nav px-0" role="tablist">
                            <a href="#home" class="active" data-toggle="tab" role="tab">Sql Query</a>
                            <a href="#menu1" data-toggle="tab" role="tab">Select Data Source</a>
                        </div> 
                        <div class="card-body tab-content">
                            <div id="home" class="tab-pane active">
                                <form autocomplete="off">
                                    <input type="hidden" value="" autocomplete="off"/>
                                    <h5>Sql Query</h5>
                                    <pre name="code" class="codeeditor" id="sqlCodeEditor1" style="border: none;"></pre>
                                    <br/>
                                    <div class="row" data-ng-show="vm.formControls.length">
                                        <div class="col-md-12"> 
                                            <h5>Available Input FieldNames</h5>
                                            <table class="table ">

                                                <thead>
                                                <tr>
                                                    <th>Parameter Label</th>
                                                    <th>Parameter Name</th>
                                                    <th>Parameter Type</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-ng-repeat="item in vm.formControls">
                                                    <td><span data-ng-bind="item.fieldLabel"></span></td>
                                                    <td><span class="font-weight-bold" data-ng-bind="item.fieldName"></span></td>
                                                    <td><span data-ng-bind="item.fieldType"></span></td>
                                                </tr>
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <form autocomplete="off">
                                    <input type="hidden" value="" autocomplete="off"/>
                                    <div class="row">
                                        <label class="col-3 control-label">Sql Data Source</label>
                                        <div class="col-7">
                                            <select class="form-control" data-ng-model="vm.model.dataSource" required="">
                                                <option value="">[Select Data Source]</option>
                                                @foreach (var dataSource in Model)
                                                {
                                                    <option value="@dataSource.dataSourceName">@dataSource.dataSourceLabel</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <label class="col-3 control-label">Database Credentials</label>
                                        <div class="col-2" data-ng-class="{'has-error':vm.model.error.dbusername }">
                                            <input type="text" autocomplete="off" data-ng-model="vm.model.dbusername" name="dbusername" class="form-control parsley-validated" required="" placeholder="DbUser">
                                        </div>
                                        <div class="col-2" data-ng-class="{'has-error':vm.model.error.dbPass }">
                                            <input type="password" autocomplete="off" data-ng-model="vm.model.dbPass" name="dbPass" class="form-control parsley-validated" required="" placeholder="DbPass">
                                        </div>
                                        <div class="col-3">
                                            <button type="button" class="btn btn-sm btn-primary " data-ng-click="vm.testConnection()">Test Connection</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-ng-click="vm.saveData()">Save</button>

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
        </div>
    </div>
