<script type="text/ng-template" id="tableResult.html">
    <div data-ng-Controller="TableViewResultController as vm">
        <div data-ng-init="vm.init(task)"></div>
        <div data-ng-if="vm.taskInfo.description!=='' || vm.taskInfo.description=='0'">
            <h4 class="title" data-ng-bind="vm.taskInfo.description"></h4>
            <hr />
        </div>
        <div style="overflow-x:scroll">
            <table class="display table table-bordered table-striped" data-ng-attr-id="{{ vm.tableId }}"></table>
        </div>
        <br />
    </div>
</script>


<script type="text/ng-template" id="successMessage.html">
    <div data-ng-Controller="SuccessMessageViewController as vm">
    <div data-ng-init="vm.init(task)"></div>
    </div>
</script>

<script type="text/ng-template" id="inputForm.html">
    <div data-ng-Controller="InputFormViewController as vm">
        <div data-ng-init="vm.init(task)"></div>
        <form name="executeTaskForm" class="align-content-center" parsley-validate="" novalidate="" data-ng-submit="vm.executeSupportTask(executeTaskForm.$valid)">
            <div data-ng-repeat="control in vm.formControls">
                <div data-ng-if="control.fieldType=='number'" class="form-group row" data-ng-class="{'has-error': vm.formSubmitted && !control.valid }">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <input type="number" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control parsley-validated" data-ng-required="control.required">
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='text'" class="form-group row" data-ng-class="{'has-error': vm.formSubmitted && !control.valid   }">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control parsley-validated" data-ng-required="control.required">
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='date'" class="form-group row" data-ng-class="{'has-error': vm.formSubmitted && !control.valid  }">
                    <label class="col-sm-3 form-label col-form-label ">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control flatpickr-input active " jquerydatepicker data-ng-required="control.required">
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='select'" class="form-group row" data-ng-class="{'has-error': vm.formSubmitted && !control.valid }">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <select class="form-control" data-ng-model="control.fieldValue" name="{{control.fieldName}}">
                            <option value="">[Select One]</option>
                            <option data-ng-repeat="item in control.dataSource" value="{{item.value}}">{{item.label}}</option>
                        </select>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='textarea'" class="form-group row" data-ng-class="{'has-error': vm.formSubmitted && !control.valid  }">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <textarea type="text" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control " data-ng-required="control.required"></textarea>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='checkbox'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label" ></label>
                    <div class="col-sm-6 col-md-6">
                        <div class="custom-control custom-checkbox">
                                        <input name="{{control.fieldName}}" id="{{control.fieldName}}" type="checkbox" checked="" class="custom-control-input">
                                        <label for="{{control.fieldName}}" class="custom-control-label form-label"> {{control.fieldLabel}} </label>
                        </div>
                     </div>
                </div>
               <div data-ng-if="control.fieldType=='fileupload'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label" for="{{control.fieldName}}"> {{control.fieldLabel}} </label>
                    <div class="col-sm-6 col-md-6">
                       <div class="form-group m-0">
                                    <div class="custom-file">
                                        <input type="file" id="file" class="custom-file-input">
                                        <label for="file" class="custom-file-label">Choose file</label>
                                    </div>
                                </div>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='multiselect'" class="form-group row" data-ng-class="{'has-error': vm.formSubmitted && executeTaskForm[control.fieldName].$invalid }">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <select class="form-control" data-ng-model="control.fieldValue" name="{{control.fieldName}}" multiple="multiple"  size="7">
                            <option  data-ng-repeat="item in control.dataSource" value="{{item.value}}">{{item.label}}</option>
                        </select>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='richtext'" class="form-group row" data-ng-class="{'has-error': vm.formSubmitted && executeTaskForm[control.fieldName].$invalid }">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                      <textarea class="form-control ckeditor" name="editor1" rows="6" style="visibility: hidden; display: none;"></textarea><div id="cke_editor1" class="cke_1 cke cke_reset cke_chrome cke_editor_editor1 cke_ltr cke_browser_webkit" dir="ltr" lang="en" role="application" aria-labelledby="cke_editor1_arialbl"><span id="cke_editor1_arialbl" class="cke_voice_label">Rich Text Editor</span><div class="cke_inner cke_reset" role="presentation"><span id="cke_1_top" class="cke_top cke_reset_all" role="presentation" style="height: auto; user-select: none;"><span id="cke_4" class="cke_voice_label">Editor toolbars</span><span id="cke_1_toolbox" class="cke_toolbox" role="group" aria-labelledby="cke_4" onmousedown="return false;"><span id="cke_5" class="cke_toolbar" aria-labelledby="cke_5_label" role="toolbar"><span id="cke_5_label" class="cke_voice_label">Clipboard/Undo</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_6" class="cke_button cke_button__cut  cke_button_disabled" "="" href="javascript:void('Cut')" title="Cut" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_6_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(4,event);" onfocus="return CKEDITOR.tools.callFunction(5,event);" onmousedown="return CKEDITOR.tools.callFunction(6,event);" onclick="CKEDITOR.tools.callFunction(7,this);return false;" aria-disabled="true"><span class="cke_button_icon cke_button__cut_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -352px;">&nbsp;</span><span id="cke_6_label" class="cke_button_label cke_button__cut_label">Cut</span></a><a id="cke_7" class="cke_button cke_button__copy  cke_button_disabled" "="" href="javascript:void('Copy')" title="Copy" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_7_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(8,event);" onfocus="return CKEDITOR.tools.callFunction(9,event);" onmousedown="return CKEDITOR.tools.callFunction(10,event);" onclick="CKEDITOR.tools.callFunction(11,this);return false;" aria-disabled="true"><span class="cke_button_icon cke_button__copy_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -288px;">&nbsp;</span><span id="cke_7_label" class="cke_button_label cke_button__copy_label">Copy</span></a><a id="cke_8" class="cke_button cke_button__paste cke_button_off " "="" href="javascript:void('Paste')" title="Paste" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_8_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(12,event);" onfocus="return CKEDITOR.tools.callFunction(13,event);" onmousedown="return CKEDITOR.tools.callFunction(14,event);" onclick="CKEDITOR.tools.callFunction(15,this);return false;"><span class="cke_button_icon cke_button__paste_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -416px;">&nbsp;</span><span id="cke_8_label" class="cke_button_label cke_button__paste_label">Paste</span></a><a id="cke_9" class="cke_button cke_button__pastetext cke_button_off " "="" href="javascript:void('Paste as plain text')" title="Paste as plain text" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_9_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(16,event);" onfocus="return CKEDITOR.tools.callFunction(17,event);" onmousedown="return CKEDITOR.tools.callFunction(18,event);" onclick="CKEDITOR.tools.callFunction(19,this);return false;"><span class="cke_button_icon cke_button__pastetext_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -960px;">&nbsp;</span><span id="cke_9_label" class="cke_button_label cke_button__pastetext_label">Paste as plain text</span></a><a id="cke_10" class="cke_button cke_button__pastefromword cke_button_off " "="" href="javascript:void('Paste from Word')" title="Paste from Word" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_10_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(20,event);" onfocus="return CKEDITOR.tools.callFunction(21,event);" onmousedown="return CKEDITOR.tools.callFunction(22,event);" onclick="CKEDITOR.tools.callFunction(23,this);return false;"><span class="cke_button_icon cke_button__pastefromword_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -1024px;">&nbsp;</span><span id="cke_10_label" class="cke_button_label cke_button__pastefromword_label">Paste from Word</span></a><span class="cke_toolbar_separator" role="separator"></span><a id="cke_11" class="cke_button cke_button__undo cke_button_disabled" "="" href="javascript:void('Undo')" title="Undo" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_11_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(24,event);" onfocus="return CKEDITOR.tools.callFunction(25,event);" onmousedown="return CKEDITOR.tools.callFunction(26,event);" onclick="CKEDITOR.tools.callFunction(27,this);return false;" aria-disabled="true"><span class="cke_button_icon cke_button__undo_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -1344px;">&nbsp;</span><span id="cke_11_label" class="cke_button_label cke_button__undo_label">Undo</span></a><a id="cke_12" class="cke_button cke_button__redo cke_button_disabled" "="" href="javascript:void('Redo')" title="Redo" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_12_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(28,event);" onfocus="return CKEDITOR.tools.callFunction(29,event);" onmousedown="return CKEDITOR.tools.callFunction(30,event);" onclick="CKEDITOR.tools.callFunction(31,this);return false;" aria-disabled="true"><span class="cke_button_icon cke_button__redo_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -1280px;">&nbsp;</span><span id="cke_12_label" class="cke_button_label cke_button__redo_label">Redo</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_13" class="cke_toolbar" aria-labelledby="cke_13_label" role="toolbar"><span id="cke_13_label" class="cke_voice_label">Editing</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_14" class="cke_button cke_button__scayt cke_button_off " "="" href="javascript:void('Spell Check As You Type')" title="Spell Check As You Type" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_14_label" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(32,event);" onfocus="return CKEDITOR.tools.callFunction(33,event);" onmousedown="return CKEDITOR.tools.callFunction(34,event);" onclick="CKEDITOR.tools.callFunction(35,this);return false;"><span class="cke_button_icon cke_button__scayt_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -1184px;">&nbsp;</span><span id="cke_14_label" class="cke_button_label cke_button__scayt_label">Spell Check As You Type</span><span class="cke_button_arrow"></span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_15" class="cke_toolbar" aria-labelledby="cke_15_label" role="toolbar"><span id="cke_15_label" class="cke_voice_label">Links</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_16" class="cke_button cke_button__link cke_button_off " "="" href="javascript:void('Link')" title="Link" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_16_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(36,event);" onfocus="return CKEDITOR.tools.callFunction(37,event);" onmousedown="return CKEDITOR.tools.callFunction(38,event);" onclick="CKEDITOR.tools.callFunction(39,this);return false;"><span class="cke_button_icon cke_button__link_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -832px;">&nbsp;</span><span id="cke_16_label" class="cke_button_label cke_button__link_label">Link</span></a><a id="cke_17" class="cke_button cke_button__unlink cke_button_disabled" "="" href="javascript:void('Unlink')" title="Unlink" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_17_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(40,event);" onfocus="return CKEDITOR.tools.callFunction(41,event);" onmousedown="return CKEDITOR.tools.callFunction(42,event);" onclick="CKEDITOR.tools.callFunction(43,this);return false;" aria-disabled="true"><span class="cke_button_icon cke_button__unlink_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -864px;">&nbsp;</span><span id="cke_17_label" class="cke_button_label cke_button__unlink_label">Unlink</span></a><a id="cke_18" class="cke_button cke_button__anchor cke_button_off " "="" href="javascript:void('Anchor')" title="Anchor" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_18_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(44,event);" onfocus="return CKEDITOR.tools.callFunction(45,event);" onmousedown="return CKEDITOR.tools.callFunction(46,event);" onclick="CKEDITOR.tools.callFunction(47,this);return false;"><span class="cke_button_icon cke_button__anchor_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -800px;">&nbsp;</span><span id="cke_18_label" class="cke_button_label cke_button__anchor_label">Anchor</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_19" class="cke_toolbar" aria-labelledby="cke_19_label" role="toolbar"><span id="cke_19_label" class="cke_voice_label">Insert</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_20" class="cke_button cke_button__image cke_button_off " "="" href="javascript:void('Image')" title="Image" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_20_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(48,event);" onfocus="return CKEDITOR.tools.callFunction(49,event);" onmousedown="return CKEDITOR.tools.callFunction(50,event);" onclick="CKEDITOR.tools.callFunction(51,this);return false;"><span class="cke_button_icon cke_button__image_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -736px;">&nbsp;</span><span id="cke_20_label" class="cke_button_label cke_button__image_label">Image</span></a><a id="cke_21" class="cke_button cke_button__table cke_button_off " "="" href="javascript:void('Table')" title="Table" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_21_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(52,event);" onfocus="return CKEDITOR.tools.callFunction(53,event);" onmousedown="return CKEDITOR.tools.callFunction(54,event);" onclick="CKEDITOR.tools.callFunction(55,this);return false;"><span class="cke_button_icon cke_button__table_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -1216px;">&nbsp;</span><span id="cke_21_label" class="cke_button_label cke_button__table_label">Table</span></a><a id="cke_22" class="cke_button cke_button__horizontalrule cke_button_off " "="" href="javascript:void('Insert Horizontal Line')" title="Insert Horizontal Line" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_22_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(56,event);" onfocus="return CKEDITOR.tools.callFunction(57,event);" onmousedown="return CKEDITOR.tools.callFunction(58,event);" onclick="CKEDITOR.tools.callFunction(59,this);return false;"><span class="cke_button_icon cke_button__horizontalrule_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -704px;">&nbsp;</span><span id="cke_22_label" class="cke_button_label cke_button__horizontalrule_label">Insert Horizontal Line</span></a><a id="cke_23" class="cke_button cke_button__specialchar cke_button_off " "="" href="javascript:void('Insert Special Character')" title="Insert Special Character" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_23_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(60,event);" onfocus="return CKEDITOR.tools.callFunction(61,event);" onmousedown="return CKEDITOR.tools.callFunction(62,event);" onclick="CKEDITOR.tools.callFunction(63,this);return false;"><span class="cke_button_icon cke_button__specialchar_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -1152px;">&nbsp;</span><span id="cke_23_label" class="cke_button_label cke_button__specialchar_label">Insert Special Character</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_24" class="cke_toolbar" aria-labelledby="cke_24_label" role="toolbar"><span id="cke_24_label" class="cke_voice_label">Tools</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_25" class="cke_button cke_button__maximize cke_button_off " "="" href="javascript:void('Maximize')" title="Maximize" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_25_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(64,event);" onfocus="return CKEDITOR.tools.callFunction(65,event);" onmousedown="return CKEDITOR.tools.callFunction(66,event);" onclick="CKEDITOR.tools.callFunction(67,this);return false;"><span class="cke_button_icon cke_button__maximize_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -896px;">&nbsp;</span><span id="cke_25_label" class="cke_button_label cke_button__maximize_label">Maximize</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_26" class="cke_toolbar" aria-labelledby="cke_26_label" role="toolbar"><span id="cke_26_label" class="cke_voice_label">Document</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_27" class="cke_button cke_button__source cke_button_off " "="" href="javascript:void('Source')" title="Source" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_27_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(68,event);" onfocus="return CKEDITOR.tools.callFunction(69,event);" onmousedown="return CKEDITOR.tools.callFunction(70,event);" onclick="CKEDITOR.tools.callFunction(71,this);return false;"><span class="cke_button_icon cke_button__source_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -1120px;">&nbsp;</span><span id="cke_27_label" class="cke_button_label cke_button__source_label">Source</span></a></span><span class="cke_toolbar_end"></span></span><span class="cke_toolbar_break"></span><span id="cke_28" class="cke_toolbar" aria-labelledby="cke_28_label" role="toolbar"><span id="cke_28_label" class="cke_voice_label">Basic Styles</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_29" class="cke_button cke_button__bold cke_button_off " "="" href="javascript:void('Bold')" title="Bold" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_29_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(72,event);" onfocus="return CKEDITOR.tools.callFunction(73,event);" onmousedown="return CKEDITOR.tools.callFunction(74,event);" onclick="CKEDITOR.tools.callFunction(75,this);return false;"><span class="cke_button_icon cke_button__bold_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -32px;">&nbsp;</span><span id="cke_29_label" class="cke_button_label cke_button__bold_label">Bold</span></a><a id="cke_30" class="cke_button cke_button__italic cke_button_off " "="" href="javascript:void('Italic')" title="Italic" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_30_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(76,event);" onfocus="return CKEDITOR.tools.callFunction(77,event);" onmousedown="return CKEDITOR.tools.callFunction(78,event);" onclick="CKEDITOR.tools.callFunction(79,this);return false;"><span class="cke_button_icon cke_button__italic_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -64px;">&nbsp;</span><span id="cke_30_label" class="cke_button_label cke_button__italic_label">Italic</span></a><a id="cke_31" class="cke_button cke_button__strike cke_button_off " "="" href="javascript:void('Strike Through')" title="Strike Through" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_31_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(80,event);" onfocus="return CKEDITOR.tools.callFunction(81,event);" onmousedown="return CKEDITOR.tools.callFunction(82,event);" onclick="CKEDITOR.tools.callFunction(83,this);return false;"><span class="cke_button_icon cke_button__strike_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -96px;">&nbsp;</span><span id="cke_31_label" class="cke_button_label cke_button__strike_label">Strike Through</span></a><span class="cke_toolbar_separator" role="separator"></span><a id="cke_32" class="cke_button cke_button__removeformat cke_button_off " "="" href="javascript:void('Remove Format')" title="Remove Format" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_32_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(84,event);" onfocus="return CKEDITOR.tools.callFunction(85,event);" onmousedown="return CKEDITOR.tools.callFunction(86,event);" onclick="CKEDITOR.tools.callFunction(87,this);return false;"><span class="cke_button_icon cke_button__removeformat_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -1056px;">&nbsp;</span><span id="cke_32_label" class="cke_button_label cke_button__removeformat_label">Remove Format</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_33" class="cke_toolbar" aria-labelledby="cke_33_label" role="toolbar"><span id="cke_33_label" class="cke_voice_label">Paragraph</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_34" class="cke_button cke_button__numberedlist cke_button_off " "="" href="javascript:void('Insert/Remove Numbered List')" title="Insert/Remove Numbered List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_34_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(88,event);" onfocus="return CKEDITOR.tools.callFunction(89,event);" onmousedown="return CKEDITOR.tools.callFunction(90,event);" onclick="CKEDITOR.tools.callFunction(91,this);return false;"><span class="cke_button_icon cke_button__numberedlist_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -544px;">&nbsp;</span><span id="cke_34_label" class="cke_button_label cke_button__numberedlist_label">Insert/Remove Numbered List</span></a><a id="cke_35" class="cke_button cke_button__bulletedlist cke_button_off " "="" href="javascript:void('Insert/Remove Bulleted List')" title="Insert/Remove Bulleted List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_35_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(92,event);" onfocus="return CKEDITOR.tools.callFunction(93,event);" onmousedown="return CKEDITOR.tools.callFunction(94,event);" onclick="CKEDITOR.tools.callFunction(95,this);return false;"><span class="cke_button_icon cke_button__bulletedlist_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -480px;">&nbsp;</span><span id="cke_35_label" class="cke_button_label cke_button__bulletedlist_label">Insert/Remove Bulleted List</span></a><span class="cke_toolbar_separator" role="separator"></span><a id="cke_36" class="cke_button cke_button__outdent cke_button_disabled" "="" href="javascript:void('Decrease Indent')" title="Decrease Indent" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_36_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(96,event);" onfocus="return CKEDITOR.tools.callFunction(97,event);" onmousedown="return CKEDITOR.tools.callFunction(98,event);" onclick="CKEDITOR.tools.callFunction(99,this);return false;" aria-disabled="true"><span class="cke_button_icon cke_button__outdent_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -672px;">&nbsp;</span><span id="cke_36_label" class="cke_button_label cke_button__outdent_label">Decrease Indent</span></a><a id="cke_37" class="cke_button cke_button__indent cke_button_off " "="" href="javascript:void('Increase Indent')" title="Increase Indent" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_37_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(100,event);" onfocus="return CKEDITOR.tools.callFunction(101,event);" onmousedown="return CKEDITOR.tools.callFunction(102,event);" onclick="CKEDITOR.tools.callFunction(103,this);return false;"><span class="cke_button_icon cke_button__indent_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -608px;">&nbsp;</span><span id="cke_37_label" class="cke_button_label cke_button__indent_label">Increase Indent</span></a><span class="cke_toolbar_separator" role="separator"></span><a id="cke_38" class="cke_button cke_button__blockquote cke_button_off " "="" href="javascript:void('Block Quote')" title="Block Quote" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_38_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(104,event);" onfocus="return CKEDITOR.tools.callFunction(105,event);" onmousedown="return CKEDITOR.tools.callFunction(106,event);" onclick="CKEDITOR.tools.callFunction(107,this);return false;"><span class="cke_button_icon cke_button__blockquote_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 -224px;">&nbsp;</span><span id="cke_38_label" class="cke_button_label cke_button__blockquote_label">Block Quote</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_40" class="cke_toolbar" aria-labelledby="cke_40_label" role="toolbar"><span id="cke_40_label" class="cke_voice_label">Styles</span><span class="cke_toolbar_start"></span><span id="cke_39" class="cke_combo cke_combo__styles  cke_combo_off" role="presentation"><span id="cke_39_label" class="cke_combo_label">Styles</span><a class="cke_combo_button" hidefocus="true" title="Formatting Styles" tabindex="-1" "="" href="javascript:void('Formatting Styles')" role="button" aria-labelledby="cke_39_label" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(109,event,this);" onmousedown="return CKEDITOR.tools.callFunction(111,event);" onfocus="return CKEDITOR.tools.callFunction(110,event);" onclick="CKEDITOR.tools.callFunction(108,this);return false;"><span id="cke_39_text" class="cke_combo_text cke_combo_inlinelabel">Styles</span><span class="cke_combo_open"><span class="cke_combo_arrow"></span></span></a></span><span id="cke_41" class="cke_combo cke_combo__format  cke_combo_off" role="presentation"><span id="cke_41_label" class="cke_combo_label">Format</span><a class="cke_combo_button" hidefocus="true" title="Paragraph Format" tabindex="-1" "="" href="javascript:void('Paragraph Format')" role="button" aria-labelledby="cke_41_label" aria-haspopup="true" onkeydown="return CKEDITOR.tools.callFunction(113,event,this);" onmousedown="return CKEDITOR.tools.callFunction(115,event);" onfocus="return CKEDITOR.tools.callFunction(114,event);" onclick="CKEDITOR.tools.callFunction(112,this);return false;"><span id="cke_41_text" class="cke_combo_text cke_combo_inlinelabel">Format</span><span class="cke_combo_open"><span class="cke_combo_arrow"></span></span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_42" class="cke_toolbar" aria-labelledby="cke_42_label" role="toolbar"><span id="cke_42_label" class="cke_voice_label">about</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_43" class="cke_button cke_button__about cke_button_off " "="" href="javascript:void('About CKEditor')" title="About CKEditor" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_43_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(116,event);" onfocus="return CKEDITOR.tools.callFunction(117,event);" onmousedown="return CKEDITOR.tools.callFunction(118,event);" onclick="CKEDITOR.tools.callFunction(119,this);return false;"><span class="cke_button_icon cke_button__about_icon" style="background-image:url(file:///C:/Users/brudex/Desktop/ultimoFolder/ultimo-admin/ULTIMO%20ADMIN%20HTML%20TEMPLATE/admin/plugins/ckeditor/plugins/icons.png?t=D08E);background-position:0 0px;">&nbsp;</span><span id="cke_43_label" class="cke_button_label cke_button__about_label">About CKEditor</span></a></span><span class="cke_toolbar_end"></span></span></span></span><div id="cke_1_contents" class="cke_contents cke_reset" role="presentation" style="height: 200px;"><span id="cke_48" class="cke_voice_label">Press ALT 0 for help</span><iframe class="cke_wysiwyg_frame cke_reset" frameborder="0" aria-describedby="cke_48" title="Rich Text Editor,editor1" src="" tabindex="0" allowtransparency="true" style="width: 1139px; height: 100%;"></iframe></div><span id="cke_1_bottom" class="cke_bottom cke_reset_all" role="presentation" style="user-select: none;"><span id="cke_1_resizer" class="cke_resizer cke_resizer_vertical cke_resizer_ltr" title="Resize" onmousedown="CKEDITOR.tools.callFunction(0, event)">◢</span><span id="cke_1_path_label" class="cke_voice_label">Elements path</span><span id="cke_1_path" class="cke_path" role="group" aria-labelledby="cke_1_path_label"><a id="cke_elementspath_3_1" href="javascript:void('body')" tabindex="-1" class="cke_path_item" title="body element" hidefocus="true" onkeydown="return CKEDITOR.tools.callFunction(2,1, event );" onclick="CKEDITOR.tools.callFunction(1,1); return false;" role="button" aria-label="body element">body</a><a id="cke_elementspath_3_0" href="javascript:void('p')" tabindex="-1" class="cke_path_item" title="p element" hidefocus="true" onkeydown="return CKEDITOR.tools.callFunction(2,0, event );" onclick="CKEDITOR.tools.callFunction(1,0); return false;" role="button" aria-label="p element">p</a><span class="cke_path_empty">&nbsp;</span></span></span></div></div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 ">
                    <button type="submit" class="btn  btn-success float-right">Submit</button>
                </div>
            </div><!--/form-group-->
        </form>
    </div>
</script>


<script type="text/ng-template" id="cardResult.html">
    <div data-ng-Controller="CardViewResultController as vm">
        <div data-ng-init="vm.init(task)"></div>
        <div data-ng-if="vm.taskInfo.description!=='' || vm.taskInfo.description=='0'">
            <h4 class="title" data-ng-bind="vm.taskInfo.description"></h4>
            <hr />
        </div>
        <div class="row card-group-row">
            <div class="card-group-row__col " ng-class="vm.model.columnCss" data-ng-repeat="card in vm.model.cardItems">
                <div class="card card-group-row__card card-sm" ng-include="vm.model.cardDesignOption"></div>
            </div>
    </div>
       
    </div>
</script>


<script type="text/ng-template" id="card-horizontalWithDropDown">
    <div class="card card-group-row__card card-sm">
        <div class="card-body d-flex align-items-center">
            <a href="#" class="avatar overlay overlay--primary avatar-4by3 mr-12pt" data-ng-if="card.imageUrl">
                <img ng-src="card.imageUrl" alt="{{card.title}}" class="avatar-img rounded">
                <span class="overlay__content"></span>
            </a>
            <div class="flex mr-12pt" data-ng-if="card.title">
                <a class="card-title" href="#" data-ng-bind="card.title">Card Title </a>
                <div class="card-subtitle text-50" data-ng-if="card.footerText" data-ng-bind="card.footerText">Card Footer</div>
            </div>
            <div class="dropdown" data-ng-if="card.actions.length">
                <a data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">more_vert</i></a>
                <div class="dropdown-menu dropdown-menu-right" style="">
                    <a data-ng-repeat="action in card.actions" ng-href="{{action.actionLink}}" class="dropdown-item"> {{action.buttonLabel}}1</a>
                     
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="card-horizontalWithButtons">

        <div class="card-body d-flex align-items-center">
            <a href="#" class="avatar overlay overlay--primary avatar-4by3 mr-12pt" data-ng-if="card.imageUrl">
                <img ng-src="card.imageUrl" alt="{{card.title}}" class="avatar-img rounded">
                    <span class="overlay__content"></span>
            </a>
                <div class="flex mr-12pt" data-ng-if="card.title">
                    <a class="card-title" href="#" data-ng-bind="card.title">Card Title </a>
                    <div class="card-subtitle " data-ng-if="card.footerText" data-ng-bind="card.footerText">Card Footer</div>
                </div>

            </div>
            <div class="card-footer" data-ng-if="card.actions.length">
                <div class="d-flex align-items-center">
                    <div class=" mr-2 ml-2" data-ng-repeat="action in card.actions">
                        <a  ng-href="{{action.actionLink}}"  class="btn btn-light btn-sm">
                            {{action.buttonLabel}}
                        </a>
                    </div>
                </div>
            </div>

</script>

<script type="text/html" id="card-verticalWithDropDown">

    <div class="col-md-12 col-xl-12 card-group-row__col">

        <div class="card card-group-row__card">
            <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1778e0e218a%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1778e0e218a%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.421875%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">

            <div class="card-body flex d-flex flex-column   justify-content-center">
                <div class="flex">
                    <a class="card-title" href="#">Card Title</a>
                </div>
                <p class="card-text">
                    Card body Text. Card body Text. Card body Text. Card body Text Card body Text
                </p>
            </div>
            <div class="card-footer flex-0">
                <div class="d-flex align-items-center">
                    <div class="flex mr-2 footer_text">
                        Footer Text
                    </div>
                    <div class="dropdown">
                        <a data-toggle="dropdown" data-caret="false" class="text-muted" aria-expanded="false"><i class="material-icons">more_horiz</i></a>
                        <div class="dropdown-menu dropdown-menu-right" style="">
                            <a href="#" class="dropdown-item">Action 1</a>
                            <a href="" class="dropdown-item">Action 2</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="card-verticalWithButtons">

    <div class="col-md-12 col-xl-12 card-group-row__col">
        <div class="card card-group-row__card">
            <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1778e0e218a%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1778e0e218a%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.421875%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
            <div class="card-body flex d-flex flex-column   justify-content-center">
                <div class="flex">
                    <a class="card-title">Card Title</a>
                </div>
                <p class="card-text">
                    Card body Text. Card body Text. Card body Text. Card body Text Card body Text
                </p>
            </div>
            <div class="card-footer flex-0">
                <div class="d-flex align-items-center">
                    <div class="flex mr-2">
                        <a href="#" class="btn btn-light btn-sm">
                            Action 1
                        </a>
                        <a href="#" class="btn btn-light btn-sm">
                            Action 2
                        </a>
                        <a href="#" class="btn btn-light btn-sm">
                            Action 3
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</script>