<script type="text/ng-template" id="tableResult.html">
    <div data-ng-Controller="TableViewResultController as vm">
        <div data-ng-init="vm.init(task)"></div>
        <div data-ng-if="vm.taskInfo.description!=='' || vm.taskInfo.description=='0'">
            <div class="page-separator">
                <div class="page-separator__text">
                    <h4 class="title" data-ng-bind="vm.taskInfo.description"></h4>
                </div>
            </div>
        </div>
        <br />
        <div class="card1">
            <div class="table-responsive " data-ng-if="vm.viewSettings.useDataTable">
                <div style="overflow-x:scroll">
                    <table class="table" data-ng-attr-id="{{ vm.tableId }}"></table>
                </div>
            </div>

            <div data-ng-if="vm.viewSettings.useNormalTable" class="table-responsive" data-ng-attr-id="{{vm.tableModel.tableId}}" data-toggle="lists">
                <div class="card-header" data-ng-if="vm.tableModel.searchable">
                    <form class="form-inline">
                        <label class="mr-sm-2 form-label" for="inlineFormFilterBy">Search :</label>
                        <input type="text" class="form-control search mb-2 mr-sm-2 mb-sm-0" id="inlineFormFilterBy" placeholder="Search ...">
                    </form>
                </div>
                <table class="table mb-0 thead-border-top-0 table-nowrap" id="taskListTable">
                    <thead>
                        <tr>
                            <th data-ng-repeat="col in vm.tableModel.cols">
                                <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-{{col.title}}">{{col.title}}</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="list" id="search">
                        <tr data-ng-repeat="row in vm.tableModel.rows">
                            <td data-ng-repeat="cell in row.cells" class="{{cell.css}}">{{cell.value}}</td>
                            <td data-ng-if="vm.tableModel.hasActions">
                                <span ng-bind-html="vm.trustAsHtml(row.actions)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="successMessage.html">
    <div data-ng-Controller="SuccessMessageViewController as vm">
        <div data-ng-init="vm.init(task)"></div>
    </div>
</script>

<script type="text/ng-template" id="fileDownload.html">
    <div data-ng-Controller="FileDownloadViewController as vm">
        <div data-ng-init="vm.init(task)"></div>
        <div data-ng-if="vm.taskInfo.description!=='' || vm.taskInfo.description=='0'">
            <div class="page-separator">
                <div class="page-separator__text">
                    <h4 class="title" data-ng-bind="vm.taskInfo.description"></h4>
                </div>
            </div>
        </div>
        <div data-ng-init="vm.init(task)"></div>

        <div>
            <div class="flex" style="max-width: 100%" data-ng-if="vm.model.startImmediately">
                <div class="alert alert-primary" role="alert">
                    <div class="d-flex flex-wrap align-items-start">
                        <div class="mr-8pt">
                            <i class="material-icons">info</i>
                        </div>
                        <div class="flex" style="min-width: 180px">
                            <small class="text-black-100">
                                If your download does not start immediately click on the below button to begin download
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <a  data-ng-href="{{vm.model.downloadLink}}" target="_blank" class="btn btn-secondary btn-rounded ">
                <i class="fa fa-download mr-2"></i> Download
            </a>
            <button id="printPreview" data-ng-show="vm.model.showPrintButton"   class="btn btn-primary btn-rounded ">
                <i class="material-icons  mr-2">print</i> Print
            </button>
    </div>
    </div>
</script>

<script type="text/ng-template" id="inputForm.html">
    <div data-ng-Controller="InputFormViewController as vm">
        <div data-ng-init="vm.init(task)"></div>
        <div data-ng-if="vm.taskInfo.description!=='' || vm.taskInfo.description=='0'">
            <div class="page-separator">
                <div class="page-separator__text">
                    <h4 class="title" data-ng-bind="vm.taskInfo.description"></h4>
                </div>
            </div>
        </div>
        <form name="executeTaskForm" class="align-content-center" parsley-validate="" novalidate="" data-ng-submit="vm.executeSupportTask(executeTaskForm.$valid)">
            <div data-ng-repeat="control in vm.formControls">
                <div data-ng-if="control.fieldType=='separator'" class="form-group row">
                    <div class="col-sm-9 page-separator">
                        <div class="page-separator__text">
                            <h4 class="title">{{control.fieldLabel}}</h4>
                        </div>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='number'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <input type="number" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control " data-ng-required="control.required" data-ng-class="{'is-invalid': vm.formSubmitted && !control.valid ,'is-valid': control.valid }">
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='text'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}} </label>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control " data-ng-required="control.required" data-ng-class="{'is-invalid': vm.formSubmitted && !control.valid ,'is-valid': vm.formSubmitted && control.valid }">
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='date'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label ">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control flatpickr-input active " jquerydatepicker data-ng-required="control.required" data-ng-class="{'is-invalid': vm.formSubmitted && !control.valid ,'is-valid': vm.formSubmitted && control.valid }">
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='select'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <select class="form-control select2 {{control.fieldName}}" data-ng-model="control.fieldValue" data-ng-options="item.value as item.label for item in control.dataSource" name="{{control.fieldName}}" data-ng-class="{'is-invalid': vm.formSubmitted && !control.valid,'is-valid': vm.formSubmitted && control.valid }">
                            <option value="">[Select One]</option>
                        </select>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='radio'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <div class="form-check form-check-inline" data-ng-repeat="item in control.dataSource">
                            <input class="form-check-input" type="radio" name="{{control.fieldName}}" value="{{item.value}}">
                            <label class="form-check-label" for="{{control.fieldName}}-{{item.value}}">{{control.fieldLabel}}</label>
                        </div>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='textarea'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <textarea type="text" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control " data-ng-required="control.required" data-ng-class="{'is-invalid': vm.formSubmitted && !control.valid  }"></textarea>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='checkbox'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label"></label>
                    <div class="col-sm-6 col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input name="{{control.fieldName}}" id="{{control.fieldName}}" type="checkbox" checked="" class="custom-control-input">
                            <label for="{{control.fieldName}}" class="custom-control-label form-label"> {{control.fieldLabel}} </label>
                        </div>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='fileupload'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label" for="{{control.fieldName}}"> {{control.fieldLabel}} </label>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group m-0">
                            <div class="custom-file">
                                <input type="file" id="file" class="custom-file-input">
                                <label for="file" class="custom-file-label">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='multiselect'" class="form-group row">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <select class="form-control select2 {{control.fieldName}}" data-ng-model="control.fieldValue" name="{{control.fieldName}}" multiple="multiple" size="7" data-ng-class="{'is-invalid': vm.formSubmitted && executeTaskForm[control.fieldName].$invalid,'is-valid': vm.formSubmitted && executeTaskForm[control.fieldName].$valid }">
                            <option  data-ng-repeat="item in control.dataSource" value="{{item.value}}">{{item.label}}</option>
                        </select>
                    </div>
                </div>

                <div data-ng-if="control.fieldType=='hidden'">
                    <input type="hidden" name="{{control.fieldName}}" data-ng-model="control.fieldValue">
                </div>

                <div data-ng-if="control.fieldType=='richtext'" class="form-group row" data-ng-class="{'is-invalid': vm.formSubmitted && executeTaskForm[control.fieldName].$invalid }">
                    <label class="col-sm-3 form-label col-form-label">{{control.fieldLabel}}</label>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 ">
                    <button type="submit" class="btn  btn-success float-right">Submit</button>
                </div>
            </div>
            <!--/form-group-->
        </form>
    </div>
</script>


<script type="text/ng-template" id="cardResult.html">
    <div data-ng-Controller="CardViewResultController as vm">
        <div data-ng-init="vm.init(task)"></div>
        <div data-ng-if="vm.taskInfo.description!=='' || vm.taskInfo.description=='0'">
            <h4 class="title" data-ng-bind="vm.taskInfo.description"></h4>
            <hr />
        </div>
        <div class="row card-group-row">
            <div class="card-group-row__col " ng-class="vm.model.columnCss" data-ng-repeat="card in vm.model.cardItems">
                <div class="card card-group-row__card card-sm" ng-include="vm.model.cardDesignOption"></div>
            </div>
        </div>

    </div>
</script>

<script type="text/html">



    <div class="list-group list-group-form mb-0">

        <div class="list-group-item">
            <div class="form-group row align-items-center mb-0">
                <label class="col-form-label form-label col-sm-3">Card number</label>
                <div class="col-sm-9">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="form-group row align-items-center mb-0">
                <label class="col-form-label form-label col-sm-3">Security code (CVV)</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="CVV" style="width:80px">
                </div>
            </div>
        </div>

    </div>


</script>


<script type="text/ng-template" id="card-horizontalWithDropDown">
    <div class="card card-group-row__card card-sm">
        <div class="card-body d-flex align-items-center">
            <a href="#" class="avatar overlay overlay--primary avatar-4by3 mr-12pt" data-ng-if="card.imageUrl">
                <img ng-src="card.imageUrl" alt="{{card.title}}" class="avatar-img rounded">
                <span class="overlay__content"></span>
            </a>
            <div class="flex mr-12pt" data-ng-if="card.title">
                <a class="card-title" href="#" data-ng-bind="card.title">Card Title </a>
                <div class="card-subtitle text-50" data-ng-if="card.footerText" data-ng-bind="card.footerText">Card Footer</div>
            </div>
            <div class="dropdown" data-ng-if="card.actions.length">
                <a data-toggle="dropdown" data-caret="false" class="text-muted"><i class="material-icons">more_vert</i></a>
                <div class="dropdown-menu dropdown-menu-right" style="">
                    <a data-ng-repeat="action in card.actions" ng-href="{{action.actionLink}}" class="dropdown-item"> {{action.buttonLabel}}1</a>

                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="card-horizontalWithButtons">

    <div class="card-body d-flex align-items-center">
        <a href="#" class="avatar overlay overlay--primary avatar-4by3 mr-12pt" data-ng-if="card.imageUrl">
            <img ng-src="card.imageUrl" alt="{{card.title}}" class="avatar-img rounded">
            <span class="overlay__content"></span>
        </a>
        <div class="flex mr-12pt" data-ng-if="card.title">
            <a class="card-title" href="#" data-ng-bind="card.title">Card Title </a>
            <div class="card-subtitle " data-ng-if="card.footerText" data-ng-bind="card.footerText">Card Footer</div>
        </div>

    </div>
    <div class="card-footer" data-ng-if="card.actions.length">
        <div class="d-flex align-items-center">
            <div class=" mr-2 ml-2" data-ng-repeat="action in card.actions">
                <a ng-href="{{action.actionLink}}" class="btn btn-light btn-sm">
                            {{action.buttonLabel}}
                        </a>
            </div>
        </div>
    </div>

</script>

<script type="text/html" id="card-verticalWithDropDown">

    <div class="col-md-12 col-xl-12 card-group-row__col">

        <div class="card card-group-row__card">
            <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1778e0e218a%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1778e0e218a%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.421875%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                alt="Card image cap">

            <div class="card-body flex d-flex flex-column   justify-content-center">
                <div class="flex">
                    <a class="card-title" href="#">Card Title</a>
                </div>
                <p class="card-text">
                    Card body Text. Card body Text. Card body Text. Card body Text Card body Text
                </p>
            </div>
            <div class="card-footer flex-0">
                <div class="d-flex align-items-center">
                    <div class="flex mr-2 footer_text">
                        Footer Text
                    </div>
                    <div class="dropdown">
                        <a data-toggle="dropdown" data-caret="false" class="text-muted" aria-expanded="false"><i class="material-icons">more_horiz</i></a>
                        <div class="dropdown-menu dropdown-menu-right" style="">
                            <a href="#" class="dropdown-item">Action 1</a>
                            <a href="" class="dropdown-item">Action 2</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="card-verticalWithButtons">

    <div class="col-md-12 col-xl-12 card-group-row__col">
        <div class="card card-group-row__card">
            <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1778e0e218a%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1778e0e218a%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.421875%22%20y%3D%2296.3%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                 alt="Card image cap">
            <div class="card-body flex d-flex flex-column   justify-content-center">
                <div class="flex">
                    <a class="card-title">Card Title</a>
                </div>
                <p class="card-text">
                    Card body Text. Card body Text. Card body Text. Card body Text Card body Text
                </p>
            </div>
            <div class="card-footer flex-0">
                <div class="d-flex align-items-center">
                    <div class="flex mr-2">
                        <a href="#" class="btn btn-light btn-sm">
                            Action 1
                        </a>
                        <a href="#" class="btn btn-light btn-sm">
                            Action 2
                        </a>
                        <a href="#" class="btn btn-light btn-sm">
                            Action 3
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</script>
 