<script type="text/ng-template" id="tableResult.html">
    <div data-ng-Controller="TableViewResultController as vm">
        <div data-ng-init="vm.init(task)"></div>
        <div data-ng-if="vm.taskInfo.description!=='' || vm.taskInfo.description=='0'">
            <h2 class="title" data-ng-bind="vm.taskInfo.description"></h2>
            <hr />
        </div>
        <div style="overflow-x:scroll">
            <table class="display table table-bordered table-striped" data-ng-attr-id="{{ vm.tableId }}"></table>
        </div>
        <br />
    </div>
</script>

<script type="text/ng-template" id="inputForm.html">
    <div data-ng-Controller="InputFormViewController as vm">
        <div data-ng-init="vm.init(task)"></div>
        <form name="executeTaskForm" class="form-horizontal group-border-dashed" parsley-validate="" novalidate="" data-ng-submit="vm.executeSupportTask(executeTaskForm.$valid)">
            <div data-ng-repeat="control in vm.formControls">
                <div data-ng-if="control.fieldType=='number'" class="form-group" data-ng-class="{'has-error': vm.formSubmitted && !control.valid }">
                    <label class="col-sm-3 control-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <input type="number" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control parsley-validated" data-ng-required="control.required">
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='text'" class="form-group" data-ng-class="{'has-error': vm.formSubmitted && !control.valid   }">
                    <label class="col-sm-3 control-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control parsley-validated" data-ng-required="control.required">
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='date'" class="form-group" data-ng-class="{'has-error': vm.formSubmitted && !control.valid  }">
                    <label class="col-sm-3 control-label ">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control " jquerydatepicker data-ng-required="control.required">
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='select'" class="form-group" data-ng-class="{'has-error': vm.formSubmitted && !control.valid }">
                    <label class="col-sm-3 control-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <select class="form-control" data-ng-model="control.fieldValue" name="{{control.fieldName}}">
                            <option value="">[Select One]</option>
                            <option data-ng-repeat="item in control.dataSource" value="{{item.value}}">{{item.label}}</option>
                        </select>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='textarea'" class="form-group" data-ng-class="{'has-error': vm.formSubmitted && !control.valid  }">
                    <label class="col-sm-3 control-label ">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <textarea type="text" data-ng-model="control.fieldValue" name="{{control.fieldName}}" class="form-control " data-ng-required="control.required"></textarea>
                    </div>
                </div>
                <div data-ng-if="control.fieldType=='checkbox'" class="form-group">
                    <label class="col-sm-3 col-md-3 control-label" for="{{control.fieldName}}"> {{control.fieldLabel}} </label>
                    <div class="col-sm-6 col-md-6">
                        <input type="checkbox" data-ng-model="control.fieldValue" name="{{control.fieldName}}">
                    </div> 
                </div>
                <div data-ng-if="control.fieldType=='multiselect'" class="form-group" data-ng-class="{'has-error': vm.formSubmitted && executeTaskForm[control.fieldName].$invalid }">
                    <label class="col-sm-3 control-label">{{control.fieldLabel}}</label>
                    <div class="col-sm-6">
                        <select class="form-control" data-ng-model="control.fieldValue" name="{{control.fieldName}}" multiple="multiple"  size="7">
                            <option  data-ng-repeat="item in control.dataSource" value="{{item.value}}">{{item.label}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div><!--/form-group-->
        </form>
    </div>
</script>