<div class="bg-white border-top-2 mt-auto">
    <div class="container page__container page-section d-flex flex-column">
        <p class="text-70 brand mb-0">
            <img class="brand-icon" src="~/assets/images/medTech.jpg" width="30" /> MedTech

        </p>
        <p class="measure-lead-max text-50 small mr-8pt">
            <span>No. 1 Abafun Crescent Labone</span><br>
            <span>Email : Info@medtechgh.com </span><br>
            <span>Phone : 0302789593 </span><br>
            <p class="text-50 small mt-n1 mb-0">Copyright 2021 &copy; All rights reserved.</p>
    </div>
</div>