<script type="text/ng-template" id="linkButton.html">
    <div data-ng-Controller="LinkButtonViewController as vm">
        <div data-ng-init="vm.init(task)"></div>
     <p ng-bind-html="vm.trustAsHtml(vm.model.linkHtml)"></p>
    </div>
</script>