@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div style="padding:20px; color:red">
    <h3 class="text-danger">
        There was an Error
    </h3>
    <h4>
        Sorry, an error occurred while processing your request.
        <br />
        @if (ViewContext.RouteData.Values["error"] == null)
        {
            <div>@ViewContext.RouteData.Values["error"]</div>
        } 
    </h4>
    <h6>@Html.ActionLink("Go Back Home ", "Index", "Home")</h6>
    <br />
    <br />
</div>