@model dynamic

@{
    ViewBag.Title = "Manage Support Menus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" ng-app="app">
    <div class="card col-md-12" data-ng-Controller="MenuSetupController as vm" data-ng-init="vm.init()">
        <div class="block-web">
            <div class="card-header pb-0">
                 
                <h3 class="">@ViewBag.Title </h3>
            </div>
            <div class="card-body">
                <form name="addMenuForm" method="POST" class="" parsley-validate="" novalidate="" data-ng-submit="vm.addMenu(addMenuForm.$valid)">
                    <div class="form-group row">
                        <label class="col-sm-3 form-label col-form-label">Menu Name</label>
                        <div class="col-sm-4">
                            <input data-ng-class="{'is-invalid': addMenuForm.menuName.$invalid }" type="text" data-ng-model="vm.model.menuName" name="menuName" class="form-control parsley-validated" required="">
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-success ">Add</button>
                        </div>
                    </div>
                    <!--/form-group-->
                    <div class="form-group row">
                        <label class="col-sm-3 form-label col-form-label"></label>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="h4 ">List of Menus </label>
                                <table class="table" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-2">Menu Name</th>
                                            <th class="col-sm-1"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="item in vm.list">
                                            <td data-ng-bind="item.menuName"></td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-danger action-view" data-ng-click="vm.deleteMenu(item)"><i class="fa fa-eye"></i>Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </form>


                

            </div><!--/porlets-content-->




        </div>
        <!--/block-web-->


    </div><!--/col-md-12-->
</div>
