@{
    ViewBag.Title = "Setup Admins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-app="app">
    <div class="card col-md-12" data-ng-Controller="AdminSetupController as vm" data-ng-init="vm.init()">
        <div class="card-header pb-0">
            <h3>@ViewBag.Title </h3>
        </div>
        <div class="card-body">
            <form name="addAdminForm" method="POST" class="was-validated" parsley-validate="" novalidate="" data-ng-submit="vm.addAdmin(addAdminForm.$valid)">
                <div class="form-group row">
                    <div class="col-sm-4" data-ng-class="{'is-invalid': addAdminForm.userName.$invalid }">
                        <input type="text" data-ng-model="vm.model.userName" name="userName" class="form-control" required="" placeholder="User Name">
                    </div>
                    <div class="col-sm-4" data-ng-class="{'is-invalid': addAdminForm.fullName.$invalid }">
                        <input type="text" data-ng-model="vm.model.fullName" name="fullName" class="form-control" required="" placeholder="Full Name">
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-success ">Add</button>
                    </div>
                </div> 
                    <div class="form-group row">
                        <div class="col-sm-12">
                                <label class="h4 ">List of Admins </label>
                                <table class=" table mb-0 thead-border-top-0  was-validated table-responsive">
                                    <thead>
                                        <tr class="col-md-12">
                                            <th>User Name</th>
                                            <th>Full Name</th>
                                            <th>Can Create task</th>
                                            <th>Can Create User</th>
                                            <th>Can Create Admin</th>
                                            <th>Can Manage Logs</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="item in vm.list">
                                            <td data-ng-bind="item.userName"></td>
                                            <td data-ng-bind="item.fullName"></td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input id="canCreateTask" type="checkbox" checked="" data-ng-model="item.canCreateTask" class="custom-control-input">
                                                    <label for="canCreateTask" class="custom-control-label"></label>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input data-ng-model="item.canCreateUser" id="canCreateUser" type="checkbox" checked="" class="custom-control-input">
                                                    <label for="canCreateUser" class="custom-control-label"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input data-ng-model="item.canCreateAdmin" id="canCreateAdmin" type="checkbox" checked="" class="custom-control-input">
                                                    <label for="canCreateAdmin" class="custom-control-label"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input  data-ng-model="item.canManageLogs" id="canManageLogs" type="checkbox" checked="" class="custom-control-input">
                                                    <label for="canManageLogs" class="custom-control-label"></label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-success action-view" data-ng-click="vm.setPreviledges(item)"><i class="fa fa-user-check"></i>Save</button>
                                                    <button type="button" class="btn btn-sm btn-danger action-view" data-ng-click="vm.deleteAdmin(item)"><i class="fa fa-trash"></i>Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            
                        </div>
                    </div>

                 
                <!--/form-group-->
            </form>

        </div><!--/porlets-content-->
        <!--/block-web-->
    </div><!--/col-md-12-->
</div>
